.container {
    max-width: 1200px;
    min-width: 1200px;
    display: flex;
    margin: auto;
    margin-top: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
}

.card {
    padding: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 270px;
}

.card img{
    width: 100%;
}

.card:hover {
    box-shadow: 0 2px 4px 0 rgb(48 56 97 / 20%);
    border: 0.2px solid rgb(211, 207, 207);
}

.restaurant-details {
    margin-top: 14px;
    line-height: normal;
}

.restaurant-title {
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
}

.restaurant-subtitle {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
}

.restaurant-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 10px;
}

.restaurant-ratings {
    display: flex;
    align-items: center;
    padding: 2px 5px 2px 0;
    color: white;
    font-weight: 500;
    margin-top: 4px;
    background-color: #48c479;
}

.star-icon {
    transform: scale(0.7);
}

.restaurant-delivery-timings {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
}

.restaurant-cost-for-two {
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
}

.offer-banner {
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    color: #8a584b;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.offer-text {
    padding-left: 10px;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pages {
    width: 180px;
    margin: auto;
    margin-bottom: 30px;
}

.pages button{
    margin: 5px;
    border-radius: 5px;
    padding: 5px 10px;
}